<!DOCTYPE html>
<html>
<head>
  <title>Form Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2>Submit Form</h2>
    <form method="post" action="{{ url_for('predict_results') }}" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="name">Brand Slogan:</label>
        <input type="text" class="form-control" id="brandSlogan" name="brandSlogan" required>
      </div>
      <div class="form-group">
        <label for="name">Has Video</Video>:</label>
        <input type="text" class="form-control" id="hasVideo" name="hasVideo" required>
      </div>
      <div class="form-group">
        <label for="name">Rating:</label>
        <input type="text" class="form-control" id="rating" name="rating" required>
      </div>
      <div class="form-group">
        <label for="name">Price USD:</label>
        <input type="text" class="form-control" id="priceUSD" name="priceUSD" required>
      </div>
      <div class="form-group">
        <label for="name">Country Region:</label>
        <input type="text" class="form-control" id="countryRegion" name="countryRegion" required>
      </div>
      <div class="form-group">
        <label for="name">Start Date:</label>
        <input type="text" class="form-control" id="startDate" name="startDate" required>
      </div>
      <div class="form-group">
        <label for="name">End Date:</label>
        <input type="text" class="form-control" id="endDate" name="endDate" required>
      </div>
      <div class="form-group">
        <label for="name">Team Size:</label>
        <input type="text" class="form-control" id="teamSize" name="teamSize" required>
      </div>
      <div class="form-group">
        <label for="name">Has Github:</label>
        <input type="text" class="form-control" id="hasGithub" name="hasGithub" required>
      </div>
      <div class="form-group">
        <label for="name">Has Reddit:</label>
        <input type="text" class="form-control" id="hasReddit" name="hasReddit" required>
      </div>
      <div class="form-group">
        <label for="email">Platform:</label>
        <input type="email" class="form-control" id="platform" name="platform" required>
      </div>
      <div class="form-group">
        <label for="phone">Coin Num:</label>
        <input type="tel" class="form-control" id="coinNum" name="coinNum" required>
      </div>
      <div class="form-group">
        <label for="phone">Minimum Investment:</label>
        <input type="tel" class="form-control" id="minInvestment" name="minInvestment" required>
      </div>
      <div class="form-group">
        <label for="phone">Distributed Percentage:</label>
        <input type="tel" class="form-control" id="distributedPercentage" name="distributedPercentage" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>
        The results is {{result}}
    </h2>
  </div> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
